@import url("https://fonts.googleapis.com/css2?family=Chango&family=Fira+Sans+Extra+Condensed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #051726;
  padding: 1rem 3rem;
}

.logo {
  font-weight: 700;
  color: #ffff;
}

.slogan {
  font-family: "Chango", cursive;
  font-weight: 400;
  font-size: 1rem;
  color: #81ffd9;
}

.header ul li {
  display: inline;
  list-style: none;
  padding: 1rem;
}

.header ul li a {
  color: #ffff;
  text-decoration: none;
  display: inline-block;
  transition: 0.4s ease-in-out;
}

.header ul li a:hover {
  color: #81ffd9;
  transform: scale(1.1);
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.card {
  width: 17rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
